.search-container {
  background-color: red;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  left: 20px;
  padding: 5px;
  position: fixed;
  top: 20px;
  width: 250px;
  z-index: 999;
}
